*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.ul1{
    list-style: none;
    display: flex;
    gap: 30px;
}
.herosec{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.herokid{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.illustration img{
    height: 300px;
}
.high1{
    width: 25vw;
}
.par1{
    width: 33vw;
}
.form1{
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
    width: 20vw;
    height: 35px;
    padding: 15px;
}
.form2{
    background-color: blue;
    border: none;
    border-radius: 3px;
    padding: 10px 50px;
    color: white;
    cursor: pointer;
}
.hero2{
    background: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(240, 75%, 98%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0px;
}
.herokid2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.high2{
    font-size: 30px;
}
.par2{
    width: 33vw;
}
.new{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.par3{
    width: 34vw;
}
.anchor{
    display: flex;
    align-items: center;
    gap: 8px;
}
.anchor a{
    color: forestgreen;
    line-height: 20px;
}
.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 50%;
    box-shadow: 1px 1px 4px rgb(48, 40, 40);
    border-radius: 6px;
}
.par4{
    width: 18vw;
    font-size: 10px;
    line-height: 15px;
    font-weight: bold;
}
.avatar{
    display: flex;
    gap: 20px;
    
}
.high3{
    width: 5vw;
    font-size: 10px;
    font-weight: bolder;
}
.par5{
    width: 10vw;
    font-size: 10px;
}
.illustration2 img{
    height: 300px;
}
.hero3{
    width: 100%;
    background-color: hsl(238, 22%, 44%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    gap: 30%;
    color: white;
}
.herokid3{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.par6{
    width: 31vw;
}
.form3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form4{
    border: none;
    outline: none;
    border-radius: 3px;
    width: 25vw;
    height: 35px;
    padding: 15px;
}
.form5{
    background-color: blue;
    border: none;
    border-radius: 3px;
    width: 15vw;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.hero4{
    width: 100%;
    background-color: hsl(293, 59%, 58%);
    display: flex;
    align-items: center;
    gap: 4%;
    justify-content: space-around;
    padding: 40px 0;
}
.herokid4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.number{
    display: flex;
    gap: 20px;
    color: white;
}
.mail{
    display: flex;
    gap: 20px;
    color: white;
}
.ul2{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}
.ul3{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.social{
    display: flex;
    align-items: center;
    gap: 10px;
}
.topic{
    font-size: 35px;
}
@media screen and (max-width:950px) {
    .navbar{
        justify-content: space-around;
    }
    .ul1{
        gap: 15px;
    }
    .herosec{
        display: flex;
        flex-direction: column-reverse;
        gap: 60px;
    }
    .high1{
        width: 70vw;
        text-align: center;
    }
    .par1{
        width: 75vw;
        text-align: center;
    }
    .fieldset{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .form1{
        width: 75vw;
    }
    .form2{
        width: 75vw;
    }
    .illustration img{
        height: 180px;
    }
    .hero2{
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
        text-align: center;
    }
    .herokid2{
        display: flex;
        padding: 30px;
        flex-direction: column;
        align-items: center;
    }
    .high2{
        width: 90vw;
        font-size: 23px;
        text-align: center;
    }
    .par2{
        width: 85vw;
        text-align: left;
    }
    .new{
        gap: 25px;
    }
    .par3{
        width: 85vw;
        text-align: left;
    }
    .anchor{
        display: flex;
        justify-content: center;
    }
    .user{
        display: flex;
        width: 70vw;
        padding-left: 20px;
        gap: 16px;
       
    }
    .par4{
        width: 58vw;
        font-size: 11px;
    }
    .high3{
        width: 60vw;
        font-size: 12px;
    }
    .par5{
        width: 60vw;
        font-size: 11px;
    }
    .illustration2 img{
        height: 180px;
    }
    .hero3{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .herokid3{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    .topic{
        font-size: xx-large;
    }
    .par6{
        width: 75vw;
        font-size: 17px;
        text-align: center;
        color: whitesmoke;
    }
    .form4{
        width: 70vw;
    }
    .form5{
        width: 70vw;
        text-align: center;
    }
    .hero4{
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: self-start;
        padding: 40px;
        
    }
    .social{
        display: flex;
        align-self: center;
    }

}